#SfMessWrap{width:209px;text-align:center;position:absolute;z-index:999999;}

#SfMessHead{
	background:url(bg.gif);
	height:28px;
	text-indent:10px;
	font-size:12px;
	color:#f9f7ff;
	text-align:left;
	cursor:pointer;
}
#SfMessHead #SfMessTitle{float:left;line-height:26px;margin-top:2px;}
#SfMessHeadIcon{float:right;margin:7px 8px 0 0;width:14px;height:14px;background-image:url(bg.gif);}
.SfMessIconOpen{background-position:right top;}
.SfMessIconClose{background-position:right bottom;}

#SfMessBody{font-size:12px;}
#SfMessBodyTop{display:none;}
#SfMessBodyMid{text-align:left;background:#f9fcff;width:209px;background:url(bg.gif) -209px 0 repeat-y;}
#SfMessBodyMid #SfMessTipmessage{
	display:block;padding-top:18px;color:#9d9c9c;border-top:1px solid #958bb7;text-indent:5px;
	height:20px;line-height:20px;background:#fff url(message.gif) no-repeat;
}
#SfMessBodyMid input {
	background:none;
	color:#9d9c9c;
	font-size:12px;
	border:0;
	width:150px;
	margin:3px 0 0 30px;
	height:17px;
	padding:0;
}

#SfMessBodyMid textarea {
	width:180px;
	border:0;
	background:none;
	color:#9d9c9c;
	height:60px;
	overflow:hidden;
	font-size:12px;
	margin-left:6px;
}
#SfMessBodyMid div {
	width:196px;
	border:0;
	border-left:1px solid #958bb7;
	border-right:1px solid #958bb7;
	margin-left:5px;
	background:#fff;
}
#SfMessBodyMid .message {
	border:1px solid #958bb7;
	border-top:0;
}
#SfMessBodyMid .tel {
	background:url(input.gif) no-repeat;
	height:22px;
}
#SfMessBodyMid .address {
	background:url(input.gif) 0 -44px no-repeat;
	height:22px;
}
#SfMessBodyMid .email {
	background:url(input.gif) 0 -22px no-repeat;
	height:22px;
}
#SfMessBodyMid .must, #SfMessBodyMid .ignore, #SfMessBodyMid .other {
	background:url(input.gif) 0 -66px no-repeat;
	height:22px;
}

#SfMessBodyBottom{
	margin:0 auto;
	width:209px;
	height:31px;
	background:url(bg.gif) left bottom no-repeat;
}

#SfMessSubmit{
	background:url(send.gif);
	color:#53467d;
	width:65px;
	height:21px;
	border:0;
	float:left;
	margin:5px 0 0 8px;
}

#SfMessCopy{
	float:right;
	margin-top:10px;
	line-height:14px;
	font-size:12px;
	color:#53467d;
	padding-right:10px;
}

.SfMessTip{display:none;}
#SfMessBodyFoot{display:none;}