#SfMessWrap{
	width:258px;
	position:absolute;
z-index:999999;
}
#SfMessHead{
	background-image:url(head.gif);
	background-repeat:repeat-x;
	height:28px;
	line-height:28px;
	color:#000;
	text-indent:8px;
	cursor:pointer;
	font-size:12px;
}
#SfMessHead #SfMessTitle{
	float:left;
}
#SfMessHeadIcon{
	float:right;
	width:23px;
	height:28px;
	background-image:url(icon.gif);
}
.SfMessIconOpen{
	background-position:top;
}
.SfMessIconClose{
	background-position:bottom;
}
#SfMessBody{
	background-image:url(bg.gif);
	/*background-repeat:no-repeat;*/
	background-repeat:repeat-x;
	text-align:center;
}
#SfMessBodyTop{display:none;}
#SfMessBodyMid{
	padding-left:6px;
	text-align:left;
}
#SfMessBodyMid input, #SfMessBodyMid .input {
	border:1px solid #849cd2;
	color:#a8b6c2;
	width:246px;
	margin-top:5px;
	font-size:12px;
	background:#ffffff;
}
#SfMessBodyMid textarea, #SfMessBodyMid .textarea {
	width:246px;
	border:1px solid #849cd2;
	color:/*#a8b6c2*/#ff0000;
	height:100px;
	overflow:hidden;
	font-size:12px;
}
#SfMessBodyMid .message {
	height:auto;
}
#SfMessBodyBottom{
	margin:0 auto;
	width:194px;
	text-align:left;
}
#SfMessSubmit{
	background:url(send.png) no-repeat;
	margin:7px 0 10px 0;
	color:#1d1d1d;
	width:76px;
	height:23px;
	border:0;
	display:block;
	_BACKGROUND:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='send.png', sizingMethod='scale');
}
#SfMessCopy{
	margin:auto;
	text-align:center;
	line-height:22px;
	font-size:12px;
	color:#aebac4;
	background:url(sign.gif) no-repeat;
	width:194px;
}
.SfMessTip{
	display:none;
}
#SfMessBodyFoot{
	background:url(foot.gif);
	background-repeat:repeat-x;
	height:2px;
	font-size:2px;
	line-height:2px;
}