<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
<rules>

# 首页

<rule name="rule 1X">
<match url="^(.*/)*default([a-z]*).html\?*(.*)$" />
<action type="Rewrite" url="/{R:1}/default.asp?language=ch" />
</rule>

# 单页

<rule name="rule 2X">
	<match url="^(.*/)*html/about_([0-9]+)_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/about/?pone={R:2}&amp;aboutid={R:3}&amp;m=1&amp;language={R:4}" />
</rule>
<rule name="rule 3X">
	<match url="^(.*/)*html/about_(\d+)_(\d+)_(\d+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/about/?pone={R:2}&amp;aboutid={R:3}&amp;m=1&amp;language=ch&amp;Page={R:4}" />
</rule>

#新闻模块开始

#所有新闻伪静态例子开始
<rule name="rule 4X">
	<match url="^(.*/)*info/list.html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/info/?m=2&amp;language=ch" />
</rule>
<rule name="rule 5X">
	<match url="^(.*/)*info/list_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/info/?m=2&amp;language=ch&amp;page={R:2}" />
</rule>
#所有新闻伪静态例子结束

#新闻分类伪静态例子开始
#比如新闻分类的html存放路径是xwflss
<rule name="rule 6X">
<match url="^(.*/)*nbxw/list_([0-9]+)_([0-9]+).html\?*(.*)$" />
<action type="Rewrite" url="/{R:1}/info/?pone={R:2}&amp;page={R:3}" />
</rule>
#有几个分类就写几个规则
#新闻分类伪静态例子结束

#新闻内容开始
<rule name="rule 7X">
	<match url="^(.*/)*html/New_([0-9]+)_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/showinfo/?pone={R:2}&amp;newsid={R:3}" />
</rule>
<rule name="rule 8X">
	<match url="^(.*/)*html/New_([0-9]+)_([0-9]+)_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/showinfo/?pone={R:2}&amp;newsid={R:3}&amp;Page={R:4}" />
</rule>
#新闻内容结束



#新闻模块结束




#产品模块



<rule name="rule 9X">
	<match url="^(.*/)*product/productlist.html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/product/index.asp" />
</rule>
<rule name="rule 10X">
	<match url="^(.*/)*product/Productlist_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/product/?page={R:2}" />
</rule>


#产品分类伪静态例子开始
#比如产品分类的html存放路径是cpfl1
<rule name="rule 11X">
	<match url="^(.*/)*cpfl1/Productlist_([0-9]+)_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/product/?pone={R:2}&amp;page={R:3}" />
</rule>
#有几个分类就写几个规则
#产品分类伪静态例子结束



<rule name="rule 12X">
	<match url="^(.*/)*html/Product_([0-9]+)_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/showproduct/?pone={R:2}&amp;proid={R:3}" />
</rule>
<rule name="rule 13X">
	<match url="^(.*/)*html/Product_([0-9]+)_([0-9]+)_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/showproduct/?pone={R:2}&amp;proid={R:3}&amp;Page={R:4}" />
</rule>


#图片模块

<rule name="rule 14X">
	<match url="^(.*/)*photo/photolist.html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/photo/index.asp" />
</rule>
<rule name="rule 15X">
	<match url="^(.*/)*photo/photolist_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/photo/?page={R:2}" />
</rule>

#图片分类伪静态例子开始
#比如图片分类的html存放路径是tpfl1
<rule name="rule 16X">
	<match url="^(.*/)*tpfl1/photolist_([0-9]+)_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/photo/?pone={R:2}&amp;page={R:3}" />
</rule>
#有几个分类就写几个规则
#图片分类伪静态例子结束

<rule name="rule 17X">
	<match url="^(.*/)*html/photo_([0-9]+)_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/showphoto/?pone={R:2}&amp;phID={R:3}" />
</rule>
<rule name="rule 18X">
	<match url="^(.*/)*html/photo_([0-9]+)_([0-9]+)_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/showphoto/?pone={R:2}&amp;phID={R:3}&amp;Page={R:4}" />
</rule>

#视频模块

<rule name="rule 19X">
	<match url="^(.*/)*video/videolist.html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/video/index.asp" />
</rule>
<rule name="rule 20X">
	<match url="^(.*/)*video/videolist_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/video/?page={R:2}" />
</rule>



#视频分类伪静态例子开始
#比如视频分类的html存放路径是spfl1

<rule name="rule 21X">
	<match url="^(.*/)*spfl1/videolist_([0-9]+)_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/video/?pone={R:2}&amp;page={R:3}" />
</rule>

#有几个分类就写几个规则
#视频分类伪静态例子结束

<rule name="rule 22X">
	<match url="^(.*/)*html/video_([0-9]+)_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/showvideo/?pone={R:2}&amp;videoID={R:3}" />
</rule>
<rule name="rule 23X">
	<match url="^(.*/)*html/video_([0-9]+)_([0-9]+)_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/showvideo/?pone={R:2}&amp;videoID={R:3}&amp;Page={R:4}" />
</rule>


#下载模块


<rule name="rule 24X">
	<match url="^(.*/)*down/downlist.html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/down/index.asp" />
</rule>
<rule name="rule 25X">
	<match url="^(.*/)*down/downlist_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/down/?page={R:2}" />
</rule>

#下载分类伪静态例子开始
#比如下载分类的html存放路径是xzfl1

<rule name="rule 26X">
	<match url="^(.*/)*xzfl1/downlist_([0-9]+)_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/down/?pone={R:2}&amp;page={R:3}" />
</rule>

#有几个分类就写几个规则
#下载分类伪静态例子结束


<rule name="rule 27X">
	<match url="^(.*/)*html/down_([0-9]+)_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/showdown/?pone={R:2}&amp;downID={R:3}" />
</rule>
<rule name="rule 28X">
	<match url="^(.*/)*html/down_([0-9]+)_([0-9]+)_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/showdown/?pone={R:2}&amp;downID={R:3}&amp;Page={R:4}" />
</rule>



#招聘模块


<rule name="rule 29X">
	<match url="^(.*/)*job/joblist.html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/job/index.asp" />
</rule>
<rule name="rule 30X">
	<match url="^(.*/)*job/joblist_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/job/?page={R:2}" />
</rule>
<rule name="rule 31X">
	<match url="^(.*/)*html/job_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/showjob/?jobID={R:2}" />
</rule>

#留言模块
<rule name="rule 32X">
	<match url="^(.*/)*guest/guest.html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/guest/index.asp" />
</rule>
<rule name="rule 33X">
	<match url="^(.*/)*html/guestlist_([0-9]+).html\?*(.*)$" />
	<action type="Rewrite" url="/{R:1}/showguest/?page={R:2}" />
</rule>

</rules>
</rewrite>

    
</system.webServer>
</configuration>